.clients {
    overflow: hidden;
    &-heading {
        @include section-heading();
    }

    &-text {
        @include paragraph(#828282,17px);
        max-width: 501px;
    }

    &-card {
        border: 1px solid #EFEFEF;
        transition: all 0.4s ease;

        &:hover {
            border: none;
            box-shadow: 0px 34px 50px -17px rgb(2, 22, 5,10%);
        }

        @media (min-width:1920px) {
            width: 569px;
        }

        &-name,&-role {
            font-size: 12px;
        }

        &-role {
            color:#828282;
        }

        &-text {
            @include paragraph(#828282,17px);
        }

        img {
            width: unset !important;
        }
        
    }

    &-card-container{
        @media (min-width:768px) {
            margin-left: -250px;
        }
    }

    .owl-dots {
            width: 100px;
            overflow: hidden;
            height: 30px;
            margin: auto;

            @media (min-width:768px) {
                width: auto;
                margin-left: 250px;
            }

            .active span{
                background: #6F77F1!important;
            }
    }
}
